.header{
    padding: 40px 0;
    min-height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(168, 168, 239);
    background-size: auto;
    background-position: center center;

    color: var(--header-text);
    text-align: center;
}
.header_wrap{
    padding: 0 15px;
    max-width: 660px;
}
.header_title{
    margin-bottom: 20px;
    font-size:40px;
    font-weight: 700;
    line-height:1.4;
}
.header_title strong {
    font-size: 60px;
    font-weight: 700;
}
